.container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-content: flex-end;
  height: 18vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.box1 {
  background-color: #1fd16c;
}

.box2 {
  background-color: #2c96d5;
}

.box3 {
  background-color: #344a61;
  width: calc(100% / 6.25);
  height: 100%;
  font-size: 7.25rem;
}

.box4 {
  background-color: #9d55b9;
}

.box5 {
  background-color: #ec7f03;
}

.box1,
.box5 {
  width: calc(100% / 16.75);
  height: 45%;
  font-size: 1.5rem;
}

.box2,
.box4 {
  width: calc(100% / 10);
  height: 62.5%;
  font-size: 3.5rem;
}
